<h2 class="ui center aligned header">
Welcome to message me
</h2>

<h4 class="ui center aligned big icon header">
<i class="paper plane outline orange icon"></i>
  Say something
</h4>

<div class="ui placeholder segment">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <%= form_with(scope: :session, url: login_path, local: true, class: 'ui form') do |f|%>
        <div class="field">
          <%= f.label :username %>
          <div class="ui left icon input">
            <%= f.text_field :username%>
            <i class="user icon"></i>
          </div>
        </div>
        <div class="field">
          <%= f.label :password %>
          <div class="ui left icon input">
            <%= f.password_field :password %>
            <i class="lock icon"></i>
          </div>
        </div>
        <%= f.submit 'Log In', class: 'ui orange submit button'%>
      <% end %>
    </div>
    <div class="middle aligned column">

        <%= link_to signup_path, :action => 'go' do %>
          <div class="ui big orange button">
            <i class="signup white icon"></i>Sign up
          </div>
        <% end %>
    </div>
  </div>
  <div class="ui vertical divider">
    Or
  </div>
</div>